# CSC 2026 - Python Dependencies
# Data analysis
numpy
matplotlib
pandas

# HEP-specific
uproot
awkward
hist
mplhep

# Testing
pytest
pytest-cov
pytest-benchmark

# Documentation
mkdocs
mkdocs-material
